[Unit]
Description=Run script at startup

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/root/init.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
