base
${LINUX}
${LINUX}-headers
mkinitcpio
mkinitcpio-archiso
pv
syslinux
grub
edk2-shell
amd-ucode
intel-ucode
kubelet
kubeadm
cri-o
util-linux
crun
networkmanager
gdisk
ntp
moreutils
lvm2
parted
nbd
avahi
nss-mdns
open-iscsi
xfsprogs
composefs
${UNIX_TOOLS}
${NVIDIA_PACKAGES}
${AMD_PACKAGES}
